//////////////////////// COLORS ////////////////////////




$green:         #ABD238
$dark-gray:     #303435
$beige:         #dabb8a
$white:         #f5f6f7
$blue-bell:     #B7ADCF
    
    


//////////////////////// GENERAL ////////////////////////    




*
    box-sizing: border-box

*, *:after, *:before
    box-sizing: inherit
     
.title
    font-family: 'Mr Dafoe', cursive

h1, h2
    font-family: 'Belleza', sans-serif

h1 
    font-size: 4.5vw

body
    font-family: 'Montserrat', sans-serif

.btn, button, .button
    font-family: 'Cormorant Garamond', serif

.white-bg
    color: $dark-gray

.dark-bg
    color: $white