//////////////////////// STRUCTURE ////////////////////////   




.container-structure
    display: grid
    height: 100vh
    grid-template-columns: 1fr 1fr 1fr 1fr
    grid-template-areas:    "nav nav nav nav" "home home home home" "about about about about" "location location location location" "contact contact contact contact" "footer footer footer footer"
    justify-content: center




//////////////////////// NAVBAR ////////////////////////   




.navbar-index-container
    position: fixed
    top: 0
    left: 0
    width: 100% 
    grid-area: nav
    display: flex
    justify-content: center
    background-color: $white
    height: 10vh
    z-index: 100

.navbar-index
    display: flex
    align-self: center
    justify-content: space-between
    width: 96%
    margin: 0

.title
    color: $green
    font-size: 45px

.navbar-nav
    font-size: 1.2em
    justify-self: center
    align-self: center

.nav-item:after, .nav-item:before
    transition: all .5s

.nav-item
    color: transparentize($dark-gray,0.4 ) !important
    margin: 20px
    position: relative
    cursor: pointer
    &::after
        position: absolute
        bottom: 0
        left: 0
        right: 0
        margin: auto
        width: 0%
        content: '.'
        color: transparent
        background: $dark-gray
        height: 1px

.nav-item:hover:after
    width: 100%

.nav-item:hover
    color: $dark-gray !important

.order-now
    align-self: center

.order-button
    font-size: 25px
    border-radius: 5px
    font-weight: 400


@media screen and ( max-width: 1300px )
    .navbar-index-container
        width: 98%

@media screen and ( max-width: 980px )
    .navbar-index-container
        &.burger-stuff
            height: 100%
            transition-delay: 0s
            > ul 
            > li 
                opacity: 1
                transition-delay: .5s
    .navbar-nav
        display: flex
        flex-direction: column !important
        justify-content: space-evenly
        align-items: center
        height: 90vw
        transition: all .5s
        // overflow: hidden
        z-index: -1
        opacity: 0
        &.burger-nav-links
            z-index: auto
            opacity: 1
    .nav-item
        transition: .5s
        transition-delay: 0s
        margin: 0
        &.burger-nav-link
            font:
                weight: 700
                size: 1.25em
    .nav-title
        align-self: center
    .order-now
        display: flex
        position: fixed
        bottom: 3px
        left: 0
        width: 100%
        justify-content: center
    .order-button
        background-color: $white
        width: 80%
        
@media screen and ( max-width: 500px )
    .navbar-index-container
        width: 97.7%
    .title
        font-size: 35px
    .nav-title
        z-index: auto
        opacity: 1
        transition: .5s
        overflow: hidden
        &.burger-nav-title
            opacity: 0
            z-index: -1
    .navbar-nav
        transition: all .5s
        &.burger-nav-links
            margin-right: 25%
    .navbar-index
        &.burger-nav-index
            justify-content: space-evenly
        
@media screen and ( max-width: 350px )
    .title
        font-size: 24px
    .navbar-index-container
        width: 95%




//////////////////////// HOME ////////////////////////   

.home
    grid-area: home
    margin-top: 10vh
    background-color: $white
    height: 90vh
    width: 100%
    display: grid
    grid-template-columns: repeat(12, 1fr)
    grid-template-rows: repeat(4, 1fr)
    grid-template-areas: "arrow arrow donut donut donut donut name name name name arrowr arrowr" "arrow arrow donut donut donut donut name name name name arrowr arrowr" "arrow arrow donut donut donut donut name name name name arrowr arrowr" "arrow arrow title title title title title title title title arrowr arrowr"

.donut-container
    grid-area: donut
    display: flex
    flex-direction: column
    justify-content: space-around
// .donut-container > *
    // flex: 1 1 0px

.donut
    // max-width: 100%
    // width: 100%
    height: 362px
    object-fit: contain
    transform: translateY(-20px)
    transition: transform 1s, opacity 1s
    transition-timing-function: ease-in-out
    opacity: 0
    z-index: 1
    &:hover
        cursor: pointer
    &.donut-animation
        opacity: 1
        transform: translateY(20px)



.donut-shadow
    height: 10px
    color: black
    align-self: center
    background-color: gray
    border-radius: 100%
    box-shadow: 0 2px 5px 3px gray
    max-width: 100%
    opacity: 0
    transform: scale(0.9)
    transition: opacity .7s ease .3s, transform 1s ease-in-out
    &.donut-shadow-animation
        opacity: 1
        transform: scale(1.0)

.name-container
    grid-area: title
    transform: translateY(10vh)
    display: flex
    justify-content: space-evenly
    text-align: center
    margin-bottom: 2px

.name-container-space
    width: 100%

.doname-1
    grid-are: title
    display: block
    text-align: center
    width: 100%
    opacity: 0
    transform: scale(0.95)
    transition: opacity 1s ease, transform 1s ease-in-out 
    &.donut-name-animation
        transform: scale(1.0)
        opacity: 1

.name2
    display: none

.name3
    display: none

.arrow-next
    background: transparentize($dark-gray,0.80 )
    box-shadow: inset 0px 0px 10px 14px transparentize($dark-gray,0.80 )

.arrow-back
    background: transparentize($dark-gray,0.80 )
    box-shadow: inset 0px 0px 10px 14px transparentize($dark-gray,0.80 )

.get-it-container
    grid-area: name
    height: 100%
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.get-it
    // font-weight: 600
    background: none
    border: 2px solid $dark-gray
    text-transform: uppercase
    padding: 12px 20px
    text-align: center
    width: 16vw
    cursor: pointer
    font-size: 2vw
    border-radius: 10px
    transition: color .4s linear
    position: relative
    opacity: 0
    transform: translateX(10px)
    transition: opacity .3s ease 1s, transform .3s ease-out 1s
    &:hover
        color: $white
    &.get-it-animation
        opacity: 1
        transform: translateX(0px)

.get-it::before
    content: ""
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    z-index: -1
    background: $dark-gray
    transition: transform 0.5s
    transform-origin: 0 0
    transition-timing-function: cubic-bezier( 0.5, 1.6 , 0.4 , 0.7 )
    transform: scaleX(0)

.get-it:hover::before
    transform: scaleX(1)
            
.btn-get
    z-index: 1

@media screen and ( max-width: 750px )
    .home
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
    .name-container
        display: none
    .space
        display: flex
        justify-content: center
    .get-it
        font-size: 6vw
        width: 50vw
    .donut
        width: 250px
    .donut-shadow
        width: 140px

// .arrow
//     grid-area: arrow

// .arrowr
//     grid-area: arrowr






// .home
//     grid-area: home
//     margin-top: 10vh
//     background:
//         color: $white
//     height: 90vh
//     width: 100%
//     display: flex

// .donut-container
//     display: flex
//     flex: 1 1 0px   
//     flex-direction: column
//     justify-content: space-around

// .donut
//     width: 340px
//     align-self: center
//     margin-top: -20px
//     transition: margin 1s, opacity 1s, transform 0.3s
//     transition-timing-function: ease-in-out
//     opacity: 0
//     &:hover
//         transform: scale(1.2)
//         cursor: pointer
//     &.donut-animation
//         opacity: 1
//         margin-top: 20px

// .donut-shadow
//     height: 10px
//     color: black
//     align-self: center
//     background-color: gray
//     border-radius: 100%
//     box-shadow: 0 2px 5px 3px gray
//     width: 120px
//     opacity: 0
//     transition-property: width, opacity
//     transition-delay: .3s
//     transition-duration: .7s
//     transition-timing-function: ease-out
//     &.donut-shadow-animation
//         opacity: 1
//         width: 150px

// .doname-container
//     display: flex
//     flex: 1 1 0px
//     flex-direction: column

// // .space classes are for doname-container, to position the button well

// .space
//     flex: 1 1 0px
//     display: grid
//     grid-template-columns: 1fr 1fr 1fr
//     grid-template-areas: "void void button" "void void button"

// .space-1
//     grid-area: void

// .get-it-button
//     display: flex
//     grid-area: button
//     flex-direction: column
//     justify-content: center

// .space-2
//     flex: 1 1 0px

// .get-it
//     flex: 1 1 0px
//     display: flex
//     justify-content: center
//     opacity: 0
//     transition-property: opacity
//     transition-delay: 1s
//     transition-duration: 0.3s
//     transition-timing-function: ease
//     &.get-it-animation
//         opacity: 1
    
// .get
//     align-self: center
//     font-size: 25px
//     font-weight: 600
//     width: 10vw
//     border-radius: 10px

// .fa-arrow-right
//     font-weight: 100
//     font-size: 80%

// .donut-name
//     display: flex
//     justify-content: center
//     flex: 1 1 0px
//     opacity: 0
//     transform: scale(0.95)
//     transition-property: opacity, transform
//     transition-duration: 1s
//     transition-timing-function: ease-out
//     &.donut-name-animation
//         transform: scale(1.0)
//         opacity: 1

// .donut-name > h1
//     font-size: 5.2em
//     line-height: 0.8em
//     text-align: center
//     font-weight: 500
//     margin-right: 30px
//     align-self: center
//     color: $dark-gray

// @media screen and ( max-width: 750px )
//     .home
//         flex-direction: column
//     .donut-container
//     .doname-container
//         margin-bottom: 10vh
//         flex: 0 1 0px
//     .space
//         display: flex
//         justify-content: center
//     .get
//         width: 40vw
//     .donut-name 
//         display: none
//     .donut
//         width: 250px
//     .donut-shadow
//         width: 140px
    




//////////////////////// ABOUT ////////////////////////   




.about
    grid-area: about
    background-color: $dark-gray
    height: 90vh
    display: flex
    flex-direction: row
    justify-content: center

.about-container
    display: grid
    width: 80%
    height: 80%
    align-self: center
    grid-template-columns: 1fr 1fr

.about-image
    overflow: hidden
    max-width: 100%
    align-self: center
    border-radius: 10px

.carousel-about-container
    width: 100%
    // display: flex
    // THE NO SLIDING EFFECT IS CAUSED BY FLEX 
    overflow: hidden
    justify-content: center
    align-content: center
    opacity: 0
    transition: opacity 1s ease-in, transform .6s ease-in-out
    &.carousel-about-image-animation
        opacity: 1

.carousel-about-image
    max-width: 100%
    height: auto

.about-description
    display: grid
    overflow: hidden
    // justify-content: center
    // align-items: center
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: auto
    grid-gap: 10px
    align-self: center
    // background-color: transparentize(pink , 0.5 )

.section1
    display: grid
    grid-template-columns: auto
    grid-template-rows: repeat(2, 1fr) 
    opacity: 0
    transform: translateY(10px)
    transition: opacity 1s ease-in, transform .6s ease-in-out
    // background: transparentize(gray, 0.5 )
    &.section-up-animation
        opacity: 1
        transform: translateY(0px)


.section2
    display: grid
    grid-template-columns: auto
    grid-template-rows: repeat(2, 1fr) 
    opacity: 0
    transform: translateY(-10px)
    transition: opacity 1s ease-in, transform .6s ease-in-out
    // background: transparentize(green, 0.5 )
    &.section-down-animation
        opacity: 1
        transform: translateY(0px)

.section3
    display: grid
    grid-template-columns: auto
    grid-template-rows: repeat(2, 1fr) 
    opacity: 0
    transform: translateY(10px)
    transition: opacity 1s ease-in, transform .6s ease-in-out
    // background: transparentize(black, 0.5 )
    &.section-up-animation
        opacity: 1
        transform: translateY(0px)

.about-section-space-up
    display: block
    backgroudn-color: transparentize(white, 0.5 )
    width: 100%
    height: 50%

.about-section-space-down
    display: block
    backgroudn-color: transparentize(white, 0.5 )
    height: 50%
    width: 100%

.about-section-title
    text-align: center

.about-section-text
    text-align: center

@media screen and ( max-width: 1070px )
    .about-container
        display: flex
        flex-direction: column
    .about-container > *
        flex: 1 1 0px
@media screen and ( max-width: 700px )
    .about-description
        grid-gap: 10px
        grid-template-rows: repeat(3, minmax(min-content,fit-content))
        grid-template-columns: auto
        grid-auto-flow: row
    .about-container
        grid-template-rows: 1fr fit-content
        grid-template-columns: auto
        flex-direction: column
    .section1
        display: block
    .section2
        display: block
    .section3
        display: block
    .about-section-space-up
        display: none
    .about-section-space-down
        display: none
    .about-section-para
        font-size: 0.8em
        line-height: 0.9em
    .about-section-title
        font-size: 1.6em
        line-height: 0.9em
    





//////////////////////// LOCATION ////////////////////////   




.location
    grid-area: location
    background-color: $white
    height: 90vh
    display: flex
    justify-content: center
    align-items: center

.location-container
    display: flex
    height: 80%
    width: 80%

.location-container > *
    flex: 1 1 0px

.map-container
    display: flex
    justify-content: center
    align-items: center

.google-map
    width: 100%
    height: 100%


.schedule-container
    background-color: $white
    display: flex
    justify-content: space-between
    align-items: center
    flex-direction: column

.schedule-list
    margin: 0
    padding: 0
    list-style: none
    display: flex
    flex-direction: column
    text-align: center
    justify-content: center
    align-items: center


@media screen and ( max-width: 1000px )
    .location-container
        flex-direction: column
    




//////////////////////// CONTACT ////////////////////////   




.contact
    grid-area: contact
    background-color: $dark-gray
    height: 90vh
    display: flex
    justify-content: center
    align-items: center

.contact-container
    height: 65%
    width: 65%
    // background: transparentize(pink, .5 )
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-around

.contact-para
    text-align: center

.contact-facebook
    font-size: 50px
    color: $white
    transition: color .1s ease-out
    &:hover
        color: #6d84b4

.facebook-icon
    text-decoration: none




//////////////////////// FOOTER ////////////////////////   




body
    background: $beige
    
.footer
    grid-area: footer
    background-color: $beige 
    height: 10vh
    display: flex
    justify-content: center
    align-items: center

.footer-container
    width: 95%
    height: 100%
    display: flex
    justify-content: space-between
    align-items: center

.footer-icons
    width: 7vw
    display: flex
    justify-content: space-between
    align-items: center


.footer-facebook
    font-size: 40px
    color: $dark-gray
    &:hover
        color: #3b5998
        

.footer-instagram
    font-size: 40px
    color: $dark-gray
    &:hover
        color: #5851DB
        


@media screen and ( max-width: 980px )
    .footer
        margin-bottom: 8vh

@media screen and ( max-width: 750px )
    .footer-facebook
        font-size: 25px
    .footer-instagram
        font-size: 25px

@media screen and ( max-width: 500px )
    .footer-icons
        // background-color: transparentize(pink,.5 )
        width: 9vw
    .footer-facebook
        font-size: 15px
    .footer-instagram
        font-size: 15px
        

    