* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:after, *:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.title {
  font-family: 'Mr Dafoe', cursive;
}

h1, h2 {
  font-family: 'Belleza', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container-structure {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas: "nav nav nav nav" "home home home home" "about about about about" "location location location location" "contact contact contact contact" "footer footer footer footer";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: nav;
  background-color: #dabb8a;
  height: 10vh;
}

.home {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: home;
  background-color: #B7ADCF;
  height: 90vh;
}

.about {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: about;
  background-color: #303435;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(255, 192, 203, 0.5);
  width: 80%;
  height: 80%;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-container > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about-image {
  background-color: rgba(255, 255, 255, 0.5);
}

.about-description {
  background-color: rgba(128, 128, 128, 0.5);
}

@media screen and (max-width: 700px) {
  .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.location {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: location;
  background-color: #ABD238;
  height: 50vh;
}

.contact {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: contact;
  background-color: #f5f6f7;
  height: 50vh;
}

.footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: footer;
  background-color: #dabb8a;
  height: 8vh;
}

.container-order {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 8vh 0.4fr minmax(30vh, max-content) 8vh;
      grid-template-rows: 8vh 0.4fr minmax(30vh, -webkit-max-content) 8vh;
      grid-template-rows: 8vh 0.4fr minmax(30vh, max-content) 8vh;
  grid-gap: 20px;
      grid-template-areas: "navo navo navo navo" "menu menu menu menu" "menug menug menug menug" "footer footer footer footer";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-order {
  background-color: #f5f6f7;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: navo;
}

.cart {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 40vw;
  background-color: rgba(255, 192, 203, 0.5);
}

.menu {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: menu;
  background-color: #303435;
}

.menu-grid {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: menug;
  background-color: #ABD238;
}

.item-chosen-container {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  z-index: 100;
  height: 100vh;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.item-chosen {
  position: fixed;
  border-radius: 12px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.15);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: white;
  height: 70%;
  width: 27%;
}

.footer-order {
  background-color: #dabb8a;
  position: absolute;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: footer;
  height: 8vh;
  width: 100%;
  bottom: 0;
}
/*# sourceMappingURL=styles.css.map */