//////////////////////// BOOTSTRAP STUFF ////////////////////////    



.bd-placeholder-img 
    font-size: 1.125rem
    text-anchor: middle
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none


@media (min-width: 768px) 
    .bd-placeholder-img-lg 
        font-size: 3.5rem



//////////////////////// GENERAL ////////////////////////    



// Bg Color

.dashboard-main-container
    background: $white

// Main Color

.main-color-bg
    background-color: $dark-gray !important
    border-color: $dark-gray !important
    color: $white !important



//////////////////////// NAVBAR DASHBOARD ////////////////////////    



// Nav 

.dash-nav
    background: $dark-gray !important

// Donuts Coffee Logo

.title-admin
    color: $white

// Nav item

.dashnav-item
    font:
        size: 2rem
    color: $white



//////////////////////// HEADER ////////////////////////    



#header
    background-color: $green
    color: $white
    padding-bottom: 10px
    margin-bottom: 15px

#header .header-row-1
    display: flex
    justify-content: space-around
    align-items: center

#header .fa
    font-size: 4rem
    




//////////////////////// BREADCRUMB ////////////////////////    



.breadcrumb
    background: #cccccc
    color: #333333

.breadcrumb a
    color: #333333



//////////////////////// FOOTER ////////////////////////    



.admin-footer
    display: flex
    justify-content: center
    align-items: center !important
    width: 100% !important
    height: 5vh !important
    padding-top: 10px !important
    margin-top: 10px
    text-align: center  



//////////////////////// FOOTER ////////////////////////    



.table-menu
    table-layout: fixed
    word-wrap: break-word