* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:after, *:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.title {
  font-family: 'Mr Dafoe', cursive;
}

h1, h2 {
  font-family: 'Belleza', sans-serif;
}

h1 {
  font-size: 4.5vw;
}

h3 {
  font-size: 3.5vw;
}

h4, li {
  font-size: 2.5vw;
}

h5 {
  font-size: 2vw;
}

h6 {
  font-size: 1vw;
}

body {
  font-family: 'Montserrat', sans-serif;
}

body.order-body {
  background: #f5f6f7;
}

.btn, button, .button {
  font-family: 'Cormorant Garamond', serif;
}

.white-bg {
  color: #303435;
}

.dark-bg {
  color: #f5f6f7;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 6.5vw;
  }
  h3 {
    font-size: 5vw;
  }
  h4, li {
    font-size: 4vw;
  }
}

@media screen and (max-width: 800px) {
  h5 {
    font-size: 3vw;
  }
  h6 {
    font-size: 2vw;
  }
}

@media screen and (max-width: 500px) {
  h5 {
    font-size: 4.5vw;
  }
}

@media screen and (max-width: 360px) {
  h5 {
    font-size: 5vw;
  }
}

.container-structure {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas: "nav nav nav nav" "home home home home" "about about about about" "location location location location" "contact contact contact contact" "footer footer footer footer";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar-index-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: nav;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f5f6f7;
  height: 10vh;
  z-index: 100;
}

.navbar-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 96%;
  margin: 0;
}

.title {
  color: #ABD238;
  font-size: 45px;
}

.navbar-nav {
  font-size: 1.2em;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav-item:after, .nav-item:before {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.nav-item {
  color: rgba(48, 52, 53, 0.6) !important;
  margin: 20px;
  position: relative;
  cursor: pointer;
}

.nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #303435;
  height: 1px;
}

.nav-item:hover:after {
  width: 100%;
}

.nav-item:hover {
  color: #303435 !important;
}

.order-now {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.order-button {
  font-size: 25px;
  border-radius: 5px;
  font-weight: 400;
}

@media screen and (max-width: 1300px) {
  .navbar-index-container {
    width: 98%;
  }
}

@media screen and (max-width: 980px) {
  .navbar-index-container.burger-stuff {
    height: 100%;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  .navbar-index-container.burger-stuff > li {
    opacity: 1;
    -webkit-transition-delay: .5s;
            transition-delay: .5s;
  }
  .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 90vw;
    -webkit-transition: all .5s;
    transition: all .5s;
    z-index: -1;
    opacity: 0;
  }
  .navbar-nav.burger-nav-links {
    z-index: auto;
    opacity: 1;
  }
  .nav-item {
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
    margin: 0;
  }
  .nav-item.burger-nav-link {
    font-weight: 700;
    font-size: 1.25em;
  }
  .nav-title {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .order-now {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    bottom: 3px;
    left: 0;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .order-button {
    background-color: #f5f6f7;
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .navbar-index-container {
    width: 97.7%;
  }
  .title {
    font-size: 35px;
  }
  .nav-title {
    z-index: auto;
    opacity: 1;
    -webkit-transition: .5s;
    transition: .5s;
    overflow: hidden;
  }
  .nav-title.burger-nav-title {
    opacity: 0;
    z-index: -1;
  }
  .navbar-nav {
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .navbar-nav.burger-nav-links {
    margin-right: 25%;
  }
  .navbar-index.burger-nav-index {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (max-width: 350px) {
  .title {
    font-size: 24px;
  }
  .navbar-index-container {
    width: 95%;
  }
}

.home {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: home;
  margin-top: 10vh;
  background-color: #f5f6f7;
  height: 90vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
      grid-template-areas: "arrow arrow donut donut donut donut name name name name arrowr arrowr" "arrow arrow donut donut donut donut name name name name arrowr arrowr" "arrow arrow donut donut donut donut name name name name arrowr arrowr" "arrow arrow title title title title title title title title arrowr arrowr";
}

.donut-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-area: donut;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.donut {
  height: 362px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  opacity: 0;
  z-index: 1;
}

.donut:hover {
  cursor: pointer;
}

.donut.donut-animation {
  opacity: 1;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.donut-shadow {
  width: 0;
  height: 10px;
  color: black;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: gray;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 5px 3px gray;
          box-shadow: 0 2px 5px 3px gray;
  max-width: 100%;
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: opacity .7s ease .3s, -webkit-transform 1s ease-in-out;
  transition: opacity .7s ease .3s, -webkit-transform 1s ease-in-out;
  transition: opacity .7s ease .3s, transform 1s ease-in-out;
  transition: opacity .7s ease .3s, transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.donut-shadow.donut-shadow-animation {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.name-container {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-area: title;
  -webkit-transform: translateY(10vh);
          transform: translateY(10vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  margin-bottom: 2px;
}

.name-container-space {
  width: 100%;
}

.doname-1 {
  grid-are: title;
  display: block;
  text-align: center;
  width: 100%;
  opacity: 0;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease-in-out;
  transition: opacity 1s ease, -webkit-transform 1s ease-in-out;
  transition: opacity 1s ease, transform 1s ease-in-out;
  transition: opacity 1s ease, transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.doname-1.donut-name-animation {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.name2 {
  display: none;
}

.name3 {
  display: none;
}

.get-it-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 7;
  -ms-grid-column-span: 4;
  grid-area: name;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.get-it {
  background: none;
  border: 2px solid #303435;
  text-transform: uppercase;
  padding: 12px 20px;
  text-align: center;
  width: 16vw;
  cursor: pointer;
  font-size: 2vw;
  border-radius: 10px;
  -webkit-transition: color .4s linear;
  transition: color .4s linear;
  position: relative;
  opacity: 0;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-transition: opacity .3s ease 1s, -webkit-transform .3s ease-out 1s;
  transition: opacity .3s ease 1s, -webkit-transform .3s ease-out 1s;
  transition: opacity .3s ease 1s, transform .3s ease-out 1s;
  transition: opacity .3s ease 1s, transform .3s ease-out 1s, -webkit-transform .3s ease-out 1s;
}

.get-it:hover {
  color: #f5f6f7;
}

.get-it.get-it-animation {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.get-it::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #303435;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
          transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.get-it:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.btn-get {
  z-index: 1;
}

@media screen and (max-width: 750px) {
  .home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .name-container {
    display: none;
  }
  .space {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .get-it {
    font-size: 6vw;
    width: 50vw;
  }
  .donut {
    width: 250px;
  }
  .donut-shadow {
    width: 140px;
  }
}

.about {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: about;
  background-color: #303435;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-container {
  display: -ms-grid;
  display: grid;
  width: 80%;
  height: 80%;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.about-image {
  overflow: hidden;
  max-width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 10px;
}

.carousel-about-container {
  width: 100%;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in, -webkit-transform .6s ease-in-out;
  transition: opacity 1s ease-in, -webkit-transform .6s ease-in-out;
  transition: opacity 1s ease-in, transform .6s ease-in-out;
  transition: opacity 1s ease-in, transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
}

.carousel-about-container.carousel-about-image-animation {
  opacity: 1;
}

.carousel-about-image {
  max-width: 100%;
  height: auto;
}

.about-description {
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 10px;
  -ms-grid-row-align: center;
      align-self: center;
}

.section1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: opacity 1s ease-in, -webkit-transform .6s ease-in-out;
  transition: opacity 1s ease-in, -webkit-transform .6s ease-in-out;
  transition: opacity 1s ease-in, transform .6s ease-in-out;
  transition: opacity 1s ease-in, transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
}

.section1.section-up-animation {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.section2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  opacity: 0;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: opacity 1s ease-in, -webkit-transform .6s ease-in-out;
  transition: opacity 1s ease-in, -webkit-transform .6s ease-in-out;
  transition: opacity 1s ease-in, transform .6s ease-in-out;
  transition: opacity 1s ease-in, transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
}

.section2.section-down-animation {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.section3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: opacity 1s ease-in, -webkit-transform .6s ease-in-out;
  transition: opacity 1s ease-in, -webkit-transform .6s ease-in-out;
  transition: opacity 1s ease-in, transform .6s ease-in-out;
  transition: opacity 1s ease-in, transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
}

.section3.section-up-animation {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.about-section-space-up {
  display: block;
  backgroudn-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 50%;
}

.about-section-space-down {
  display: block;
  backgroudn-color: rgba(255, 255, 255, 0.5);
  height: 50%;
  width: 100%;
}

.about-section-title {
  text-align: center;
}

.about-section-text {
  text-align: center;
}

@media screen and (max-width: 1070px) {
  .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-container > * {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0px;
  }
}

@media screen and (max-width: 700px) {
  .about-description {
    grid-gap: 10px;
    -ms-grid-rows: (minmax(min-content, fit-content))[3];
        grid-template-rows: repeat(3, minmax(-webkit-min-content, -webkit-fit-content));
        grid-template-rows: repeat(3, minmax(min-content, fit-content));
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-auto-flow: row;
  }
  .about-container {
    -ms-grid-rows: 1fr fit-content;
        grid-template-rows: 1fr -webkit-fit-content;
        grid-template-rows: 1fr fit-content;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section1 {
    display: block;
  }
  .section2 {
    display: block;
  }
  .section3 {
    display: block;
  }
  .about-section-space-up {
    display: none;
  }
  .about-section-space-down {
    display: none;
  }
  .about-section-para {
    font-size: 0.8em;
    line-height: 0.9em;
  }
  .about-section-title {
    font-size: 1.6em;
    line-height: 0.9em;
  }
}

.location {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: location;
  background-color: #f5f6f7;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80%;
  width: 80%;
}

.location-container > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
}

.map-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.google-map {
  width: 100%;
  height: 100%;
}

.schedule-container {
  background-color: #f5f6f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.schedule-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1000px) {
  .location-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: contact;
  background-color: #303435;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-container {
  height: 65%;
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact-para {
  text-align: center;
}

.contact-icons-container {
  width: 16%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact-facebook {
  font-size: 50px;
  color: #f5f6f7;
  -webkit-transition: color .1s ease-out;
  transition: color .1s ease-out;
}

.contact-facebook:hover {
  color: #6d84b4;
}

.contact-instagram {
  font-size: 50px;
  color: #f5f6f7;
  -webkit-transition: color .1s ease-out;
  transition: color .1s ease-out;
}

.contact-instagram:hover {
  color: #6d84b4;
}

.facebook-icon {
  text-decoration: none;
}

.instagram-icon {
  text-decoration: none;
}

body {
  background: #dabb8a;
}

.footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: footer;
  background-color: #dabb8a;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container {
  width: 95%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-icons {
  width: 7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-facebook {
  font-size: 40px;
  color: #303435;
}

.footer-facebook:hover {
  color: #3b5998;
}

.footer-instagram {
  font-size: 40px;
  color: #303435;
}

.footer-instagram:hover {
  color: #5851DB;
}

@media screen and (max-width: 980px) {
  .footer {
    margin-bottom: 8vh;
  }
}

@media screen and (max-width: 750px) {
  .footer-facebook {
    font-size: 25px;
  }
  .footer-instagram {
    font-size: 25px;
  }
}

@media screen and (max-width: 500px) {
  .footer-icons {
    width: 9vw;
  }
  .footer-facebook {
    font-size: 15px;
  }
  .footer-instagram {
    font-size: 15px;
  }
}

.container-order {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 8vh 0.4fr minmax(min-content, fit-content) 8vh;
      grid-template-rows: 8vh 0.4fr minmax(-webkit-min-content, -webkit-fit-content) 8vh;
      grid-template-rows: 8vh 0.4fr minmax(min-content, fit-content) 8vh;
      grid-template-areas: "navo navo navo navo" "menu menu menu menu" "menug menug menug menug" "footer footer footer footer";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-order-container {
  position: fixed;
  background-color: #f5f6f7;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  z-index: 100;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: navo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 96%;
  margin: 0;
}

.cart {
  z-index: -5;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(48, 52, 53, 0.98);
  opacity: 0;
  width: 0vw;
  -webkit-transition: width .5s ease, opacity .1s linear;
  transition: width .5s ease, opacity .1s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart.cart-pop-up {
  z-index: auto;
  opacity: 1;
  width: 30vw;
}

.cart-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5vh;
}

.cart-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 40%;
  overflow-y: auto;
  padding: 10px 0px;
}

.cart-content-container > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
}

.cart-item {
  border-bottom: thin solid #f5f6f7;
  margin: 5px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
}

.cart-item:first-child {
  padding-top: 5px;
  border-top: thin solid #303435;
}

.cart-details-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choices-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-toppings-container {
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-details {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 5px 0;
}

.cart-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

.cart-buttons-container > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
}

.cart-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart-buttons > * {
  margin-left: 15px;
}

.cart-plus-minus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.cart-plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: top;
  background-color: #303435;
  padding: 3px;
  width: 30px;
  height: 30px;
  font-weight: 500;
  font-size: 30px;
  color: #f5f6f7;
  text-align: center;
  border-radius: 50%;
  background-clip: padding-box;
}

.cart-plus:hover {
  background-color: #ABD238;
  color: #303435;
  cursor: pointer;
}

.cart-minus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: top;
  background-color: #303435;
  padding: 3px;
  width: 30px;
  height: 30px;
  font-weight: 500;
  font-size: 30px;
  color: #f5f6f7;
  text-align: center;
  border-radius: 50%;
  margin-left: 5px;
  background-clip: padding-box;
}

.cart-minus:hover {
  background-color: #ABD238;
  color: #303435;
  cursor: pointer;
}

.cart-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
}

.name-input {
  width: 70%;
}

.phone-input {
  width: 70%;
}

.cart-address-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  z-index: -99;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.cart-address-container.cart-address-container-on {
  visibility: visible;
  opacity: 1;
  z-index: 999999;
}

.cart-address {
  position: relative;
  height: 30vh;
  width: 70vw;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.close-cart-address-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 4vw;
  height: 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.close-cart-address {
  color: rgba(48, 52, 53, 0.8);
  font-size: 25px;
}

.close-cart-address:hover {
  cursor: pointer;
  color: #303435;
}

.cart-confirm-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  z-index: -99;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.cart-confirm-container.cart-confirm-container-on {
  visibility: visible;
  opacity: 1;
  z-index: 999999;
}

.cart-confirm {
  position: relative;
  height: 30vh;
  width: 70vw;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.close-cart-confirm-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 4vw;
  height: 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.close-cart-confirm {
  color: rgba(48, 52, 53, 0.8);
  font-size: 25px;
}

.close-cart-confirm:hover {
  cursor: pointer;
  color: #303435;
}

.address-input {
  width: 70%;
}

.cart-space {
  height: 10%;
}

.cart-validation-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.btn-choice {
  width: 35%;
  font-size: 2vw;
  -webkit-transition: color 1s ease, background-color 1s ease;
  transition: color 1s ease, background-color 1s ease;
}

.cart-button-container {
  width: 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shopping-cart-icon {
  font-size: 2.5vw;
  color: #ABD238;
  margin: 0;
  padding: 0;
  -webkit-transition: color .4s ease-in-out;
  transition: color .4s ease-in-out;
}

.shopping-cart-icon.cart-button-clicked {
  color: #f5f6f7;
}

.shopping-cart-button {
  z-index: 9000;
  border: none;
  background: transparent;
  outline: none !important;
}

#pickup-done {
  background-color: #f5f6f7;
  color: #ABD238;
  -webkit-transition: color 1s ease, background-color 1s ease;
  transition: color 1s ease, background-color 1s ease;
}

#delivery-done {
  background-color: #f5f6f7;
  color: #ABD238;
  -webkit-transition: color 1s ease, background-color 1s ease;
  transition: color 1s ease, background-color 1s ease;
}

@media screen and (max-width: 1100px) {
  .cart-button-container {
    width: 5vw;
  }
  .shopping-cart-icon {
    font-size: 3.5vw;
  }
}

@media screen and (max-width: 900px) {
  .cart.cart-pop-up {
    z-index: auto;
    opacity: 1;
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .cart-button-container {
    width: 8vw;
  }
  .shopping-cart-icon {
    font-size: 5vw;
  }
  .btn-choice {
    font-size: 3.5vw;
  }
}

@media screen and (max-width: 500px) {
  .cart-button-container {
    width: 12vw;
  }
  .shopping-cart-icon {
    font-size: 8vw;
  }
}

@media screen and (max-width: 450px) {
  .btn-choice {
    font-size: 5vw;
  }
  .edit-cart, .remove-cart, .toppings-cart {
    font-size: .74rem;
  }
}

.menu {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: menu;
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 8vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.menu-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: menug;
  grid-gap: 30px;
  margin-bottom: 8vh;
}

.product-grid {
  display: -ms-grid;
  display: grid;
  border-radius: 20px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 70px;
  height: 80%;
  width: 70%;
  -ms-grid-row-align: center;
      align-self: center;
  margin-top: 20px;
  margin-bottom: 8vh;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  border-radius: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  -webkit-transition: opacity .5s ease-in-out, -webkit-transform .5s ease-in-out;
  transition: opacity .5s ease-in-out, -webkit-transform .5s ease-in-out;
  transition: opacity .5s ease-in-out, transform .5s ease-in-out;
  transition: opacity .5s ease-in-out, transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  opacity: 0;
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
}

.item.is-showing {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.item > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
}

.donut-order-img {
  border-radius: 100%;
  max-width: 100%;
  height: auto;
}

.item-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-name-container {
  width: 95%;
}

.item-description {
  font-size: 1vw;
}

.item-price-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  margin-bottom: 2px;
}

a.add-to-cart:hover {
  color: #f5f6f7 !important;
  cursor: pointer;
}

.item-chosen-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  height: 100vh;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  border-radius: 50%;
  -webkit-transition: opacity .4s ease, border-radius 1s ease, -webkit-transform .2s ease;
  transition: opacity .4s ease, border-radius 1s ease, -webkit-transform .2s ease;
  transition: transform .2s ease, opacity .4s ease, border-radius 1s ease;
  transition: transform .2s ease, opacity .4s ease, border-radius 1s ease, -webkit-transform .2s ease;
}

.item-chosen-container.item-chosen-popup-container {
  z-index: 9999;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  border-radius: 0px;
}

.item-chosen {
  position: fixed;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: white;
  height: 85vh;
  width: 25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity .4s ease;
  transition: opacity .4s ease;
  z-index: -1;
  opacity: 0;
  overflow-y: auto;
}

.item-chosen.item-chosen-popup {
  opacity: 1;
}

.item-chosen > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
}

.item-chosen-img-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.donut-order-img-chosen {
  width: 80%;
  border-radius: 50%;
  height: auto;
}

.item-chosen-desc-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 40%;
}

.item-desc-text {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.item-desc-user-input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.user-input-item {
  font-style: oblique;
}

#donut-instructions {
  width: 90%;
  font-size: 16px;
  overflow-y: auto;
}

.item-add-btn-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3px;
}

.item-add-btn {
  width: 80%;
  font-size: 20px;
}

a.item-add-btn:hover {
  color: #f5f6f7 !important;
  cursor: pointer;
}

.close-item-chosen-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 4vw;
  height: 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.close-item-chosen {
  color: rgba(48, 52, 53, 0.8);
  font-size: 25px;
}

.close-item-chosen:hover {
  cursor: pointer;
  color: #303435;
}

.item-chosen img {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.show-toppings-btn {
  font-size: 1.3rem;
}

@media screen and (max-width: 1300px) {
  .item-chosen {
    height: 70vh;
    width: 25vw;
  }
}

@media screen and (max-width: 1270px) {
  .product-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: 50%;
  }
  .item {
    height: 500px;
  }
}

@media screen and (max-width: 1000px) {
  .item-description {
    font-size: 1.5vw;
  }
  .product-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 750px) {
  .item-description {
    font-size: 2.5vw;
  }
  .item-chosen {
    height: 65vh;
    width: 60vw;
  }
}

@media screen and (max-width: 600px) {
  .item {
    height: 400px;
  }
  .add-to-cart {
    font-size: 13px;
  }
  .price {
    font-size: 13px;
  }
  .close-item-chosen-container {
    width: 6vw;
    height: 6vw;
  }
  .close-cart-address-container {
    width: 6vw;
    height: 6vw;
  }
}

@media screen and (max-width: 500px) {
  .item-price-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0px;
    width: 90%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 2px;
  }
}

@media screen and (max-width: 400px) {
  .item-description {
    font-size: 3vw;
  }
  .item-chosen {
    height: 95vh;
    width: 90vw;
  }
}

@media screen and (max-width: 360px) {
  .item-description {
    font-size: 3.5vw;
  }
  .close-item-chosen-container {
    width: 7.5vw;
    height: 7.5vw;
  }
  .close-cart-address-container {
    width: 7.5vw;
    height: 7.5vw;
  }
}

.topping-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: opacity .4s ease;
  transition: opacity .4s ease;
  opacity: 0;
}

.topping-menu-container.topping-menu-container-show {
  opacity: 1;
}

.topping-menu {
  display: -ms-grid;
  display: grid;
  border-radius: 20px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 70px;
  background-color: white;
  position: fixed;
  border-radius: 15px;
  -ms-grid-row-align: center;
      align-self: center;
  height: 90vh;
  width: 90vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity .4s ease;
  transition: opacity .4s ease;
  z-index: -1;
  opacity: 0;
  overflow-y: auto;
  max-height: 90vh;
  padding-top: 10px;
  padding-bottom: 10px;
}

.topping-menu.topping-menu-show {
  opacity: 1;
}

.close-topping-menu-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 4vw;
  height: 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.close-topping-menu {
  color: rgba(48, 52, 53, 0.8);
  font-size: 25px;
}

.close-topping-menu:hover {
  cursor: pointer;
  color: #303435;
}

.topping-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topping-item {
  width: 50%;
  height: 30%;
  border: 1px solid #ccc;
  padding: 5px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.confirm-toppings {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.confirm-toppings > button {
  font-size: 2.3rem;
}

@media screen and (max-width: 1270px) {
  .topping-menu {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1000px) {
  .topping-menu {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px) {
  .close-topping-menu-container {
    width: 6vw;
    height: 6vw;
  }
}

@media screen and (max-width: 360px) {
  .close-topping-menu-container {
    width: 7.5vw;
    height: 7.5vw;
  }
}

.footer-order {
  background-color: #dabb8a;
  position: fixed;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7vh;
  width: 100%;
  bottom: 0;
  left: 0;
}

.burger-container {
  display: none;
}

@media screen and (max-width: 980px) {
  .burger-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 10%;
  }
  input#burger {
    display: inline;
    visibility: hidden;
  }
  input#burger + label {
    position: fixed;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    height: 20px;
    width: 15px;
    z-index: 5;
  }
  input#burger + label span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    left: 0;
    display: block;
    background: #303435;
    -webkit-transition: .5s;
    transition: .5s;
  }
  input#burger + label span:first-child {
    top: 3px;
  }
  input#burger + label span:last-child {
    top: 16px;
  }
  label:hover {
    cursor: pointer;
  }
  input#burger:checked + label span {
    opacity: 0;
    top: 50%;
  }
  input#burger:checked + label span:first-child {
    opacity: 1;
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
  input#burger:checked + label span:last-child {
    opacity: 1;
    -webkit-transform: rotate(-405deg);
            transform: rotate(-405deg);
  }
  input#burger, .navbar-index-container {
    background: #f5f6f7;
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-transition-delay: .5s;
            transition-delay: .5s;
    overflow: hidden;
  }
  input#burger:checked + .navbar-index-container {
    height: 100%;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  input#burger:checked + .navbar-index-container > ul > li {
    opacity: 1;
    -webkit-transition-delay: .5s;
            transition-delay: .5s;
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.dashboard-main-container {
  background: #f5f6f7;
}

.main-color-bg {
  background-color: #303435 !important;
  border-color: #303435 !important;
  color: #f5f6f7 !important;
}

.dash-nav {
  background: #303435 !important;
}

.title-admin {
  color: #f5f6f7;
}

.dashnav-item {
  font-size: 2rem;
  color: #f5f6f7;
}

#header {
  background-color: #448FA3;
  color: #f5f6f7;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

#header .header-row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .fa {
  font-size: 4rem;
}

.dashboard-header-text-container {
  text-align: center;
}

.breadcrumb {
  background: #cccccc;
  color: #333333;
}

.breadcrumb a {
  color: #333333;
}

.confirm-add-container {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out;
}

.confirm-add-container.confirm-add-container-on {
  visibility: visible;
  z-index: 999;
  opacity: 1;
}

.confirm-add {
  position: relative;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  height: 70vh;
  width: 50%;
  background-color: #f5f6f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.close-confirm-add-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 4vw;
  height: 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.close-confirm-add {
  color: rgba(48, 52, 53, 0.8);
  font-size: 25px;
}

.close-confirm-add:hover {
  cursor: pointer;
  color: #303435;
}

.confirm-add-topping-container {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out;
}

.confirm-add-topping-container.confirm-add-topping-container-on {
  visibility: visible;
  z-index: 999;
  opacity: 1;
}

.confirm-add-topping {
  position: relative;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  height: 70vh;
  width: 50%;
  background-color: #f5f6f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.close-confirm-add-topping-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 4vw;
  height: 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.close-confirm-add-topping {
  color: rgba(48, 52, 53, 0.8);
  font-size: 25px;
}

.close-confirm-add-topping:hover {
  cursor: pointer;
  color: #303435;
}

.admin-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  width: 100% !important;
  height: 5vh !important;
  padding-top: 10px !important;
  margin-top: 10px;
  text-align: center;
}

.table-menu {
  table-layout: fixed;
  word-wrap: break-word;
}

table {
  font-size: .9rem;
}

.shipping-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.shipping-btn-container > a {
  width: 100%;
}

.dashboard-menu-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 50%;
}

.dashboard-menu-btn-container > a {
  width: 100%;
  font-size: 0.8rem;
}

.dashboard-user-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 50%;
}

.dashboard-user-btn-container > a {
  width: 100%;
  font-size: 0.8rem;
}
/*# sourceMappingURL=styles.css.map */