{% extends 'admin_pannel/admin_nav.html.twig' %}

{% block headerTitle %}Edit <small>Edit your Item menus</small>{% endblock %}

{% block breadcrumbList %}
    <li><a href="{{ path('app_dashboard') }}" style="color: black;">Dashboard</a></li>
    <li class="active">&emsp;Edit</li>
{% endblock %}


{% block content %}

    <section id="main">
        <div class="container">
            <div class="row">

                {% block sidebar %}
                    {{ parent() }}
                {% endblock %}

                <div class="col-md-8 ml-auto">

                    {# WEBSITE OVERVIEW #}

                    <div class="card">
                        <div class="card-header main-color-bg">
                            Edit Item
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label>Article Name</label>
                                    <input type="text" class="form-control" id="add-name" placeholder="Unique Item Name" value="Hungry Donut">
                                </div>
                                <div class="form-group">
                                    <label>Article Description</label>
                                    <textarea name="editor1" class="form-control" id="add-description" placeholder="Item Description" value="The hungriest donut on planet Earth"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Article Quantity Available</label>
                                    <input type="number" class="form-control" id="add-quantity" min="0" placeholder="Item Quantity" value="5">
                                </div>
                                <div class="form-group">
                                    <label>Article Price</label>
                                    <input type="number" class="form-control" id="add-quantity" step="0.001" min="0" placeholder="Item Price" value="3.502">
                                </div>
                                <div class="form-group">
                                    <label>Article Link</label>
                                    <input type="text" class="form-control" id="add-link" placeholder="Add Source Item Image Link" value="images/beautifulDonuts.jpg">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="add-carousel" value="1" Checked> Carousel
                                    </label>
                                </div>
                            </form>
                            <input type="submit" class="btn btn-primary" value="Submit">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    {% block modal %}
        {{ parent() }}
    {% endblock %}

    <footer id="footer" class="footer admin-footer main-color-bg">
        <p>Copyrights AdminStrap, &copy; 2020</p>
    </footer>


{% endblock %}